body {
	margin: 0;
	position: relative;
	height: 100vh;
	width: 100vw;
}

#panel {
	display: flex;
	margin-left: 5px;
}

#boxes {
	margin-left: 10px;
	border: grey 1px solid;
	height: 100px;
	width: 500px;
}

#platform {
	margin: 0;
	height: 80vh;
	width: 100vw;
	background-color: yellow;
	position: absolute;
	bottom: 0;
}

.box {
	height: 50px;
	width: 50px;
	box-sizing: border-box;
	cursor: move;
	position: absolute;
}