input {
    margin-top: 5px;
    margin-bottom: 5px;
}

input:focus {
    outline: none !important;
}

.zad1 > input:invalid {
    border: 3px solid red;
}

.zad1 > input:valid {
    border: 3px solid green;
}

.zad1 > input:placeholder-shown {
    border: 3px solid black;
}

.zad2 > input {
    border: 3px solid black;
}

.zad2 > input:invalid {
    border: 3px solid red;
}

.valid {
    border: 3px solid green !important;
}

.invalid {
    border: 3px solid red !important;
}
  