.list-root {
	margin: 5px;
	padding: 5px;
	display: inline-block;
	border: grey 1px solid;
}

ol {
	list-style: none;
	counter-reset: item;
}

li {
	counter-increment: item;
	margin-bottom: 5px;
}

.element:before {
	cursor: move;
	margin-right: 5px;
	content: counter(item);
	background: red;
	border-radius: 100%;
	color: white;
	width: 1.4rem;
	height: 1.4rem;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}